.popup{
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    padding: 20px;
    width: max-content;
    border-radius: 15px;
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s ease-in;
    &--success{
        background-color: lightgreen;
    }
    &--error{
        background-color: crimson;
    }
    &--show{
        opacity: 1;
    }
}